window {
margin: 0px;
border: 4px solid #7fbbb3;
border-radius: 10px;
/*background-color: #1e1e2e;*/
background-color: rgba(43, 51, 57, 0.6);
font-family: JetBrainsMono Nerd Font;
font-size: 14px;
}

#inner-box {
margin: 5px;
border: none;
/*background-color: #1e1e2e;*/
background-color: rgba(43, 51, 57, 0.6);
}

#outer-box {
margin: 5px;
border: none;
/*background-color: #1e1e2e;*/
background-color: rgba(43, 51, 57, 0.6);
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #9da9a0;
} 

/*#input image {
	color: #eceff4;
}*/

/*#entry:selected {
background-color: rgba(0,0,0,0);
} */

#entry:selected {
	background-color: #445055;
	font-weight: normal;
}

#text:selected {
	background-color: transparent;
        color: #d3c6aa;
	font-weight: normal;
}
